<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Knowledge Center </title>
    <title>TEST</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/newPost.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- SocketIO -->
    <script src="/bower_components/socket.io-client/socket.io.js"></script>

    <!-- More examples at http://codemirror.net/demo/ -->

    <script src="/bower_components/jquery/dist/jquery.js"></script>


    <!-- add basic CodeMirror functionality -->
    <script src="/bower_components/codemirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/addon/selection/active-line.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css" />

    <!-- add Javascript-mode dependencies -->
    <script src="/bower_components/codemirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/xml/xml.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/htmlmixed/htmlmixed.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/clike/clike.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/python/python.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/css/css.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/groovy/groovy.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/go/go.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/http/http.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/nginx/nginx.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/php/php.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/pig/pig.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/shell/shell.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/sql/sql.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/swift/swift.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bower_components/codemirror/mode/perl/perl.js" type="text/javascript" charset="utf-8"></script>

</head>
<body ng-app="KnowledgeCenter">

    <div id="navbar">
        <ng-include src="'/templates/navbar.html'"></ng-include>
    </div>
    <div id="content" ui-view></div>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>



    <script src="/knowledgeCenterApp/app.js"></script>
    <script src="/knowledgeCenterApp/controllers/homeController.js"></script>
    <script src="/knowledgeCenterApp/controllers/NavbarController.js"></script>
    <script src="/knowledgeCenterApp/controllers/PostsController.js"></script>
    <script src="/knowledgeCenterApp/controllers/PostController.js"></script>
    <script src="/knowledgeCenterApp/controllers/NewPostController.js"></script>
    <script src="/knowledgeCenterApp/controllers/AuthenticationController.js"></script>
    <script src="/knowledgeCenterApp/directives/postrefDirective.js"></script>
    <script src="/knowledgeCenterApp/directives/tagsDirective.js"></script>
    <script src="/knowledgeCenterApp/directives/postDirective.js"></script>
    <script src="/knowledgeCenterApp/directives/commentDirective.js"></script>
    <script src="/knowledgeCenterApp/services/APIService.js"></script>
    <script src="/knowledgeCenterApp/services/AuthenticationService.js"></script>
    <script src="/knowledgeCenterApp/Router.js"></script>
    <script>
        socketIO = io.connect('http://localhost:<%= port %>')
        console.log('connected IO')
    </script>
</body>
</html>