<!DOCTYPE html>
<html ng-app="knowledgeCenter">
<head lang="en">
    <meta charset="UTF-8">
    <title>Knowledge Center </title>
    <title>TEST</title>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<ng-include src="'./templates/navbar.html'"></ng-include>
HELLO
<script src="./scripts/app/app.module.js"></script>
<script src="./scripts/app/navbar.controller.js"></script>
<script src="./scripts/app/knowledge_center.service.js"></script>
</body>
</html>