<!DOCTYPE html>
<html ng-app="KnowledgeCenter">
<head lang="en">
    <meta charset="UTF-8">
    <title>Knowledge Center </title>
    <title>TEST</title>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/ui-router/release/angular-ui-router.min.js"></script>
    <script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/post.css">
    <link rel="stylesheet" href="./css/posts.css">
    <link rel="stylesheet" href="./css/newPost.css">
    <link rel="stylesheet" href="./css/comment.css">
    <link rel="stylesheet" href="./css/login.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- More examples at http://codemirror.net/demo/ -->

    <!-- add basic CodeMirror functionality -->
    <script src="bower_components/codemirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/codemirror/addon/selection/active-line.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />

    <!-- add Javascript-mode dependencies -->
    <script src="bower_components/codemirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8"></script>

    <!-- add PHP-mode dependencies (replace dependency loading by require.js!) -->
    <script src="bower_components/codemirror/mode/xml/xml.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/codemirror/mode/htmlmixed/htmlmixed.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/codemirror/mode/clike/clike.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/codemirror/mode/python/python.js" type="text/javascript" charset="utf-8"></script>

    <!-- add SPARQL-mode dependencies -->
    <script src="bower_components/codemirror/mode/sparql/sparql.js" type="text/javascript" charset="utf-8"></script>


</head>
<body>
<div id="navbar">
<ng-include src="'./templates/navbar.html'"></ng-include>
</div>
<div id="content" ui-view>
</div>
<script src="./knowledgeCenterApp/app.js"></script>
<script src="./knowledgeCenterApp/controllers/NavbarController.js"></script>
<script src="./knowledgeCenterApp/controllers/QuestionsController.js"></script>
<script src="./knowledgeCenterApp/controllers/LinksController.js"></script>
<script src="./knowledgeCenterApp/controllers/TILTController.js"></script>
<script src="./knowledgeCenterApp/controllers/GuidesController.js"></script>
<script src="./knowledgeCenterApp/controllers/PostController.js"></script>
<script src="./knowledgeCenterApp/controllers/NewPostController.js"></script>
<script src="./knowledgeCenterApp/controllers/AuthenticationController.js"></script>
<script src="./knowledgeCenterApp/directives/postrefDirective.js"></script>
<script src="./knowledgeCenterApp/services/APIService.js"></script>
<script src="./knowledgeCenterApp/services/AuthenticationService.js"></script>
<script src="./knowledgeCenterApp/Router.js"></script>
</body>
</html>