#search-ul {
    min-width: 300px;
}

#search-form {
    width: 100%;
}

#search-btn {
    width: 100%;
    margin-bottom: 3%;
}

.search {
    width: 100%;
}

.image {
    float: left;
    margin-right: 10%;
}

.modal-body {
    height: 200px;
}