
body{
    background:#eee;
    margin-top:20px;
}

.text {
    white-space: pre;
    font-size: medium;
    direction: ltr;
}

#new-comment {
    width: 100%;
}

.editor .CodeMirror{
    height: auto;
}

.widget {
    position: relative;
    margin-bottom: 30px;
    padding: 0px 20px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 3px;
}

.container {
    /*margin-left: 300px;*/
    margin-left: 25%;
}

.widget-controls {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 14px;
    font-size: 12px;
}

.widget-controls>a {
    padding: 1px 4px;
    border-radius: 4px;
    color: rgba(0,0,0,0.4);
    -webkit-transition: color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
    color:#fff;
}

.text-white {
    color: #fff;
}

.bg-body, .bg-body-light,
.bg-gray, .bg-gray-transparent,
.bg-transparent, .bg-primary,
.bg-success, .bg-warning,
.bg-danger, .bg-info {
    -webkit-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

.bg-warning-light-green {
    background-color: #9af087;
}
.bg-warning-light-yellow {
    background-color: #e1f070;
}
.bg-warning-light-blue {
    background-color: #6bc6f0;
}
.bg-warning-light-red {
    background-color: #f08381;
}
.bg-warning-blue {
    background-color: #685cf0;
}

.bg-info {
    background: #39bbdb;
}

.widget-top-overflow {
    margin-top: -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.widget-top-overflow, .widget-middle-overflow {
    position: relative;
    margin: 0 -20px;
}

.windget-padding-md {
    padding: 15px 20px;
}

.tags {
    padding-left: 0;
    list-style: none;
}

.tags>li {
    float: left;
    margin:3px;
}

h3, .h3 {
    font-size: 24px;
}

.tags>li>a {
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 6px;
    border: 1px solid white;
    color: inherit;
    text-decoration: none;
}

.mt-n-lg {
    margin-top: -30px;
}

.post-user {
    position: relative;
}

.mr {
    margin-right: 15px;
}

.thumb-xs, .thumb-sm, .thumb-lg, .thumb {
    position: relative;
    display: inline-block;
    text-align: center;
}

.thumb-lg {
    width: 60px;
}

.thumb-xs img, .thumb-sm img, .thumb-lg img, .thumb img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.post-user img {
    border: 3px solid white;
}

.fs-mini {
    font-size: 13px;
}

.text-light {
    opacity: .8;
    padding: 2%;
}

p {
    margin: 0 0 10px;
}

.widget>footer {
    margin: 0 -20px -15px;
    padding: 15px 20px;
}

.bg-body, .bg-body-light, .bg-gray,
.bg-gray-transparent,
.bg-transparent, .bg-primary,
.bg-success, .bg-warning,
.bg-danger, .bg-info {
    -webkit-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

.bg-body-light {
    background-color: #f6f6f6;
}

.post-links {
    margin-bottom: 0px;
    font-size: 12px;
    padding-left: 0;
}

.post-links>li {
    float: left;
    list-style: none;
    margin:4px;
}

.post-links>li>a {
    text-decoration: none;
    color: #999;
}

/*.post-links+.post-comments {*/
    /*margin-top: 30px;*/
/*}*/

/*.widget>footer .post-comments {*/
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
/*}*/



/*.post-comments {*/
    /*font-size: 12px;*/
    /*padding-left: 0;*/
/*}*/

.mb-0 {
    margin-bottom: 0;
}

/*.post-comments>li {*/
    /*padding: 10px;*/
    /*border-top: 1px solid #e7e7e7;*/
    /*list-style: none;*/
/*}*/

/*.post-comments .avatar {*/
    /*margin-top: 1px;*/
/*}*/

.mr-sm {
    margin-right: 10px;
}

.thumb-xs, .thumb-sm, .thumb-lg, .thumb {
    position: relative;
    display: inline-block;
    text-align: center;
}

.thumb-xs {
    width: 28px;
}

/*.post-comments .author {*/
    /*margin-top: 0;*/
    /*margin-bottom: 2px;*/
    /*color: #7ca9dd;*/
/*}*/

.fw-semi-bold {
    font-weight: 600;
}

h6, .h6 {
    font-size: 12px;
}

/*.post-comments .comment-body {*/
    /*overflow: auto;*/
/*}*/