<i class="fa fa-spin fa-refresh fa-5x" id="loader"></i>
<div class="container">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Users list</div>

        <!-- Table -->
        <table class="table" id="userList">
            <thead>
            <tr>
                <th>#</th>
                <th>Profile image</th>
                <th>User Name</th>
                <th>Password</th>
                <th>E-mail</th>
                <th>Points</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tbody >
            <tr ng-repeat="u in users track by $index">
                <td>{{$index +1}}</td>
                <td><img src={{u.user.picture}} border=3 height=40 width=40/></td>
                <td>{{u.user.name.first}}</td>
                <td>{{u.user.password}}</td>
                <td>{{u.user.email}}</td>
                <td>{{u.user.location.zip}}</td>
                <td ><a ui-sref="edit({userIndex: $index})" class="btn btn-xs btn-warning edit-button">Edit</a></td>
                <td><a ng-click="deleteUser($index)" class="btn btn-xs btn-danger" id="delete" >Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div><!--/container-->

