 <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                    </div>
                </div>
            </div>
        </div>
    </div>

 <div class="container">
     <h1 class="page-header">
         Latest posts
     </h1>

     <div class="row" ng-repeat="post in newPosts">

         <!-- Blog Entries Column -->
         <div class="col-md-8">
             <div class="well">
             <!-- First Blog Post -->
             <h2>
                 {{post.title}}
             </h2>
             <p class="lead">
                 by {{post.user.username}}
             </p>
             <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.creation_date | date}}</p>

             <!--<p>{{post.text.substring(0,30)}}</p>-->
             <ul id="home-tags" class="tags text-white pull-right" ng-repeat="tag in post.tags track by $index">
                 <li><a ng-click="searchByTag(tag.name)" href="">{{ tag.name }}</a></li>
             </ul>
             <a class="btn btn-primary" ui-sref="post({postId: post._id})">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

             </div>
         </div>
     </div>
 </div>

 <!-- Footer -->
 <div class="footer">
         <div class="row">
             <div class="col-md-12">
                 <div class="footer-copyright">&copy; Eran, Ziv & Asaf 2015. All rights reserved.</div>
             </div>

         </div>
 </div>




