
<html lang="en">
<head>
    <title>CodeMirror in Action</title>

</head>
<body>
 <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

 <!-- "user_id": 12356,
  "title": "title",
  "creation_date": {
    "$date": "date the created by using 'new Date()'"
  },
  "views": 123214,
  "tags": [1, 2, 3],
  "comments": [1, 2, 34, 55],
  "text": "blablabla",
  "category_id": "questions"
} -->


 <!--
 <div class="container">

     <div class="row">

         <!-- Blog Entries Column --
         <div class="col-md-8">

             <h1 class="page-header">
                 latest Posts
             </h1>

             <!-- First Blog Post --
             <div class="post" ng-repeat="post in newPosts">
             <h2>
                 <a href="#">{{post.title}}</a>
             </h2>
             <p class="lead">
                 by {{post.username}} </a>
             </p>
             <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.creation_date |date}}</p>
             <p>{{post.text | limitTo : 0 : 20}}}</p>
             <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                 </div>

             <hr>



         </div>

         <!-- Blog Sidebar Widgets Column --
         <div class="col-md-4">


             <!-- Blog Categories Well --
             <div class="well">
                 <h4>Blog Categories</h4>
                 <div class="row">
                     <div class="col-lg-6">
                         <ul class="list-unstyled">
                             <li ng-repeat="category in dbCategories"><a ui-sref="{{ category.name | lowercase }}" > {{ category.name }} </a>
                         </ul>
                     </div>

                     </div>
                     <!-- /.col-lg-6 --
                 </div>
                 <!-- /.row --
             </div>

         </div>

     </div>
     <!-- /.row --
 </div>

 <!-- /.container -->
</body>
</html>
