<nav class="navbar navbar-default" ng-controller="NavbarCtrl as navbarCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home" ng-click="navbarCtrl.setActive(-1)">
                <span class="glyphicon glyphicon-align-left" aria-hidden="false"></span>
                Knowledge Center
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':navbarCtrl.checkActive($index)}" ng-repeat="category in navbarCtrl.dbCategories track by $index">
                    <a ui-sref="{{ category.name | lowercase }}" ng-click="navbarCtrl.setActive($index)"> {{ category.name }} </a>
                </li>
            </ul>
            <div class="authentication" ng-controller="AuthenticationCtrl as authCtrl">
                <ul class="nav navbar-nav navbar-right" ng-hide="globals.loggedIn">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="" data-toggle="dropdown">
                            Sign up <strong class="caret"></strong>
                        </a>
                        <div class="dropdown-menu">
                            <form class="sign-up" method="post" accept-charset="UTF-8" ng-submit="authCtrl.signup()">
                                <div ng-hide="!authCtrl.signupFailed" class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    User already exits.
                                </div>
                                <input ng-model="authCtrl.firstName" type="text" placeholder="first name" id="firstName" name="firstName" required>
                                <input ng-model="authCtrl.lastName" type="text" placeholder="last name" id="lastName" name="lastname" required>
                                <input ng-model="authCtrl.email" type="email" placeholder="email" id="email" name="email" required>
                                <input ng-model="authCtrl.username" type="text" placeholder="Username" id="user" name="username" required>
                                <input ng-model="authCtrl.password" type="password" placeholder="Password" id="signup-password" name="password" required>
                                <input class="btn-group-sm" type="submit" id="sign-up" value="Sign Up">
                            </form>
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="" data-toggle="dropdown">
                            Sign In <strong class="caret"></strong>
                        </a>
                        <div class="dropdown-menu">
                            <form class="sign-in pad-buttom" method="post" accept-charset="UTF-8" ng-submit="authCtrl.signin()">
                                <div ng-hide="!authCtrl.authenticationFailed" class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Wrong.
                                </div>
                                <input ng-model="authCtrl.username" type="text" placeholder="Username" id="username" name="username">
                                <input ng-model="authCtrl.password" type="password" placeholder="Password" id="password" name="password">
                                <input class="btn-group-sm" type="submit" id="sign-in" value="Sign In">
                            </form>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-hide="!globals.loggedIn">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Welcome {{ globals.currentUser.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="">Profile</a></li>
                            <li><a href="">Another action</a></li>
                            <li><a href="">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="pad-buttom" ng-click="authCtrl.signout()"><a href="">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--<button type="submit" class="navbar-btn btn btn-group-sm navbar-right">login/signup</button>-->

            <!--<form class="navbar-form navbar-right" role="search">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>