<div class="row">
    <div class="col-md-6 col-xs-12 container">
        <section class="widget">
            <div class="widget-controls">
                <a ><i class=""> {{  post.creation_date | date }} </i></a>
                <!--<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>-->
            </div>
            <div class="widget-body">
                <div ng-class="randomColor" class="widget-top-overflow windget-padding-md clearfix text-white">
                    <h3 class="mt-lg mb-lg"><span class="fw-semi-bold">{{ post.title }}</span></h3>
                    <ul class="tags text-white pull-right" ng-repeat="tag in post.tags track by $index">
                        <li><a href="#">{{ tag.name }}</a></li>
                    </ul>
                </div>
                <div class="post-user mt-n-lg">
                    <span class="thumb-lg pull-left mr">
                        <img class="img-circle" src="http://bootdey.com/img/Content/user_1.jpg" alt="...">
                    </span>
                    <h5 class="mt-sm fw-normal text-white">{{ post.user.username }}</h5>

                    <p class="fs-mini text-muted">
                        <time>{{ post.user.points }} Points</time>
                    </p>
                </div>
                    <p id="post-text" class="text-light fs-mini m text"></p>
            </div>
            <div class="container-comments bootstrap snippet">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-comment">
                            <!--<hr/>-->
                            <ul class="comments">
                                <li class="clearfix" ng-repeat="comment in post.comments track by $index">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p class="meta">
                                            <a href="#">{{ comment.user.username }} </a>
                                            {{ comment.creation_date | date}}
                                        <p class="text">{{ comment.text }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div ng-if="globals.loggedIn">
            <textarea id="new-comment" ng-model="text" rows="5" placeholder="Write your comment here..."></textarea>
            <button ng-click="submitNewComment(text); text=''" type="button" class="btn btn-info btn-lg">Submit</button>
        </div>
    </div>
</div>
