<button ng-if="globals.loggedIn && category != 'Search'" ui-sref="create-new-post({category: category})" id="new-post" type="button" class="btn btn-info btn-lg">Create New Post</button>
<div class="row">
    <div class = "post-left" ng-repeat="post in posts track by $index">
        <div class="thumbnail">
            <!--<img src="..." alt="...">-->
            <div class="caption">
                <h3>
                    <span ng-if="post.solved" class="glyphicon glyphicon-ok-sign" style="color:green"></span>
                    <span ng-if="!post.solved" class="glyphicon glyphicon-question-sign"></span>
                    <postref-Directive></postref-Directive>
                </h3>

                <ul id="home-tags" class="tags text-white pull-right" ng-repeat="tag in post.tags track by $index">
                    <li><a ng-click="searchByTag(tag.name)" href="">{{ tag.name }}</a></li>
                </ul>

                <p>
                    <span class="label label-default"><i class="fa fa-eye"></i>Views: {{ post.views }}</span>


                    <span class="label label-default"><i class="fa fa-comments"></i>Comments: {{ post.comments.length }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
<ul class="pager">
    <li><a href="" ng-click="previousPage()">Previous</a></li>
    <li><a href="" ng-click="nextPage()">Next</a></li>
</ul>
