<div ng-controller="questions as questionsCtrl">
    <div style="margin-left: 8px;" class="row"
         ng-repeat="question in questionsCtrl.dbQuestions track by $index">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <!--<img src="..." alt="...">-->
                <div class="caption">
                    <h3>
                        <span ng-if="question.solved" class="glyphicon glyphicon-ok-sign" style="color:green"></span>
                        <span ng-if="!question.solved" class="glyphicon glyphicon-question-sign"></span>
                        {{ question.title }}
                    </h3>

                    <p ng-if="question.text.length > 30" >{{ question.text.substring(0, 30) }}...</p>
                    <p ng-if="question.text.length <= 30" >{{ question.text }}</p>

                    <p>
                        <a class="btn btn-default" role="button">
                            Views: {{ question.views }}
                        </a>
                        <a class="btn btn-primary" role="button">
                            Comments: {{ question.comments.length }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>