<h1>TEMPLATE C</h1>
<style>
    body {background-color:white}
    h1   {color:darkorange}
    p    {color:lightblue}
</style>
<h1>THIS CONTENT COMES FROM TEMPLATEC.HTML</h1>
<p hidden id="line0">Original Line 1 from template</p>
<p hidden id="line1">Original Line 2 from template</p>
<image hidden id="image0" height="150" src="" width="150"></image>
<p hidden id="line2">Original Line 3 from template</p>
<p hidden id="line3">Original Line 4 from template</p>
<image hidden id="image1" height="150"src="" width="150"></image>
<p hidden id="line4">Original Line 5 from template</p>
<p hidden id="line5">Original Line 6 from template</p>
<image hidden id="image2" height="150" src="" width="150"></image>
<p hidden id="line6">Original Line 7 from template</p>
<p hidden id="line7">Original Line 8 from template</p>
<image hidden id="image3" height="150" src="" width="150"></image>
<p hidden id="line8">Original Line 9 from template</p>
<p hidden id="line9">Original Line 10 from template</p>
